<h3 class="aluno">Listagem de Alunos</h3>
<table class="table table-hover"><!--coloquei um hover para a tabela-->
  <thead>
    <tr><!--aqui estou passando o cabeçalho da tabela-->
      <th>Nome</th>
      <th>RU</th>
      <th>Nome do Curso</th>
      <th>Data de Aniversário</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let alunos of lista_alunos"> <!--criei a variável "alunos" para guardar os dados do array "lista_alunos"-->
      <tr>
        <td><!--em cada linha da tabela estou passando a variável e o valor que quero que apareça na tabela-->
          {{ alunos.nome }}
        </td>
        <td>
          {{ alunos.RU }}
        </td>
        <td>
          {{ alunos.nomeDoCurso }}
        </td>
        <td>
          {{ alunos.dataAniversario }}
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
